@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 0% 95%;
    --foreground: 256 0% 0%;
    --card: 256 0% 90%;
    --card-foreground: 256 0% 10%;
    --popover: 256 0% 95%;
    --popover-foreground: 256 95% 0%;
    --primary: 256 0% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 218 10% 85%;
    --muted-foreground: 256 0% 35%;
    --accent: 218 10% 80%;
    --accent-foreground: 256 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 256 0% 90%;
    --border: 256 20% 50%;
    --input: 256 20% 18%;
    --ring: 256 0% 16%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 256 10% 5%;
    --foreground: 256 0% 90%;
    --card: 256 0% 0%;
    --card-foreground: 256 0% 90%;
    --popover: 256 10% 5%;
    --popover-foreground: 256 0% 90%;
    --primary: 256 0% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 218 10% 15%;
    --muted-foreground: 256 0% 60%;
    --accent: 218 10% 15%;
    --accent-foreground: 256 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 256 0% 90%;
    --border: 256 20% 18%;
    --input: 256 20% 18%;
    --ring: 256 0% 16%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
